<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JourneyGenie</title>
    <link rel="icon" href="/resources/static/image/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;700&family=Roboto:wght@100;400;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/resources/static/css/find_pass.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="/resources/static/js/find_pass.js"></script>
    <script>
        $(document).ready(function () {

            $('#menu_btn').mouseenter(function () {
                $('.menu_li').css('display', 'block');
            })

            $('.top_menu').mouseleave(function () {
                $('.menu_li').css('display', 'none');
            })

        })
    </script>
</head>

<body id="body">
    <header id="header">
        <div class="header">
            <ul>
                <!-- 좌측 서브 메뉴 -->
                <li>
                    <div class="menu">
                        <div id="menu_btn">메뉴</div>
                        <div class="menu_li">
                            <ul class="top_menu">
                                <li><a id="ticket">승차권 확인</a></li>
                                <li><a href="/schedule">시간표 조회</a></li>
                            </ul>
                        </div>
                    </div>
                </li>

                <!-- 중앙 로고 배치 -->
                <li>
                    <div id="logo">
                        <a href="/main">JourneyGenie</a>
                    </div>
                </li>

                <!-- 우측 로그인 및 마이페이지 -->
                <li>
                    <div id="sub_menu">
                        <ul>
                            <li><a href="/mypage_login">로그인</a></li>
                            <li><a id="mypage">마이페이지</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>


    </header>
    


    <div class="find">
        <div class="body_logo">
            <img src="/resources/static/image/logo.png">
        </div>

        <div class="info">
            <span>비밀번호를 찾기 위한 정보를 입력해주세요.</span>
        </div>

        <div id="name">
            <span>이름</span>
            <input type="name" name="name" placeholder="이름을 입력하세요">
        </div>
    
        <div id="id">
            <span>아이디</span>
            <input type="text" name="id" placeholder="아이디를 입력하세요">
        </div>

        <div id="tel">
            <span>전화번호</span>
            <input type="tel" name="tel" placeholder="전화번호를 입력하세요">
        </div>

        <button id="find_button">확인</button>

        <div class="help">
            <ul>
                <span>아이디가 기억나지 않는다면?</span><li><a href="/find_id">아이디찾기</a></li>
            </ul>
        </div>
    </div>



</body>

</html>